<!DOCTYPE html>
<html>
<head>


    <title>Profile Page</title>
</head>

<style>

h1 {
    background-color: SlateBlue;
    text-align: center
    }
p {
    color: purple;
    text-align: center;
    } 
div {
    text-align: center;
    } 
    
    

</style>
<body>


    <h1 > Welcome to your Profile Page</h1>
    <p>╔═════ ❀•°❀°•❀ ════╗</p>
    <p><img src= "{{ url_for('static', filename= "image1.jpg")}}"
    alt= "Description of Image"><br></p>
    <p>╚════ ❀•°❀°•❀ ═════╝</p>



    <div><tt> <b>Name: </b>Ann Margarette G. Concepcion<br><br>
    <b>Section: </b>BSCPE 2-6 <br><br>
    <b>Course: </b>BS Computer Engineering <br><br>
    <b>Subject:</b> Data Structures and Algorithms <br><br>
    <b>Motto: </b> My favorite programming language is quality time ^^ </tt></div>


    <body bgcolor="F3EBFF">

</body>
</html>
